$paleta-de-colores: (
    color-letras-link: rgb(22, 239, 254),
    color-del-texto: white,
    color-fondo-tarjetas-img: rgba(12, 152, 115, 0.671),
    color-fondo-tarjetas-texto: rgb(109, 22, 191),
    color-fondo-del-nav: rgba(76, 23, 234, 0.815),
    color-fondo-de-la-pagina: rgb(49, 21, 127),
    color-fondo-formulario: rgb(26, 165, 119),
);