/* estilos de Services */

/* estilos del carrusel */
#carrusel {
    font-family: $fuente-letras;
    img {
        height: 510px;
    }
    p {
        background-color: rgba(0, 255, 255, 0.516);
    }
}

#contenidocentral {
    p {
        font-family: $fuente-letras;
    }
}