/*
    elemento {
        propiedad: valor;
    }


*/



/* acá edito el color del fondo de las páginas */
#fondo {
    background-color: rgb(49, 21, 127);

}

/* acá edito la posición, el ancho y el alto de la foto de la cabecera de la página */
.fotoh1 img {
    display: flex;
    top: 0px;
    width: 100%;
    height: 220px;
}

.container-fluid {
    background-color: rgba(76, 23, 234, 0.815);
    padding: 0px;
    
}

.nav-container nav {
    padding: 0;
}

.nav-container a {
    font-family: "Montagu Slab", serif;
    color: rgb(22, 239, 254);
    text-decoration: none;   
}

.nav-container button {
    color: rgb(22, 239, 254);
    font-family: "Montagu Slab", serif;
}

.nav-container button:hover {
    color: rgb(22, 239, 254);
    background-color: #046b7251;
}

.nav-container :placeholder-shown {
    font-family: "Montagu Slab", serif;
}

#img-nav img {
    display: flex;
    height: 50px;
}

/* acá edito la posición del video de la página principal con respecto a los límites de la misma */
.video1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.video1 iframe {
    display: flex;
    height: 400px;
    width: 60%;
    padding: 10px;
}

.video1 article {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* acá edito el texto que se ubica a un costado el video, su posición, color, largo, ancho, alto y medida de la fuente */
.video1 p {
    display: flex;
    color: white;
    font-family: "Montagu Slab", serif;
    margin: 0;
    width: 300px;
    
}

.tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 50px;
}

.tarjetas-container p {
    font-family: "Montagu Slab", serif;
    color: white;
}

.tarjetas-container div {
    background-color: rgb(109, 22, 191);
    border-color: black;
}

.tarjetas-container img {
    width: 100%;
    height: 100%;
    background-color: rgba(12, 152, 115, 0.671);
}

/* acá edito el texto de las páginas próximas a configurar, su color, posición, altura, ancho y la fuente */
#title h1 {
    display: flex;
    font-family: "Montagu Slab", serif;
    color: white;
    width: 100%;
    height: 100px;
    align-items: center;
    padding: 10px;
}

/* acá edito la imágen del pie de la página, posición, alto y ancho */
.footer {
    display: flex;
    height: 220px;
    bottom: 0px;
    background-image: url(../multimedia/images/pngwing.com.png);
    justify-content: right;

}

.footer img {
    height: 50px;
    width: 50px;
}

.footer ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.footer li {
    display: flex;
    align-items: center;
    padding: 10px;
    
}

.formulario {
    display: flex;
    background-color: rgb(26, 165, 119);
    padding: 50px;
}

.formulario label {
    font-family: "Montagu Slab", serif;
    color: rgb(22, 239, 254);
}
  
.formulario :placeholder-shown {
    font-family: "Montagu Slab", serif;
    color: rgb(22, 239, 254);
}

.formulario button {
    color: rgb(22, 239, 254);
    font-family: "Montagu Slab", serif;
    background-color: #6b08cf51;
}

.formulario button:hover {
    color: rgb(22, 239, 254);
    background-color: #0bc40551;
}